li{
  display: block;
  border: 1px solid #ebebeb;
  padding: 13px;
  margin: 10px 0;
  font-weight: 600;
  box-shadow: 0 3px 2px -2px rgb(0 0 0 / 0.13);
  /* box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2); */
  width: 620px;
  box-sizing: border-box;
}

ul{
  list-style: none;
}

.container{
  margin: 0 auto;
  width: 60%;
}

h1{
  font-size: 17px;
  font-weight: 600;
  display: inline-block;
}

h1:after{
  background-color: #00ab36;
  margin: 10px 0 0;
  display: block;
  width: 120px;
  height: 2px;
  margin-top: 10px;
  content: " ";
}

.question-1{
  margin: 30px 15px;
}